#Your ListenBrainz username https://listenbrainz.org/user/USER_NAME_HERE/
USERS= [
  user1,
  user2
]

#The lists you want imported, this will pull all artist's MusicBrainzId from every song in the playlist
#A list of acceptable playlist can be found here https://api.listenbrainz.org/1/user/USER_NAME_HERE/playlists/createdfor
#look at the property source_patch, the name must match exactly
LISTS= [
  weekly-exploration,
  example-list-2
]
